* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #859900;
    font-family: 'Open Sans',arial,helvetica,sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    margin: 48px auto;
    width: 610px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    color: #859900;
    margin: 15px 0;
}

.table {
    width: 600px;
    background: #111;
    border: 1px solid #aaa;
    display: inline-block;
}

.closed { display: none !important; }
.open { display: block; }

.row {
    display: flex;
}

.table .row:nth-child(1) {
    border-bottom: 1px solid #aaa;
}

.table .row:nth-child(even) {
    background: #181818;
}

.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px 0;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-sm {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-md {
    flex: 0 0 33%;
    max-width: 33%;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-lg {
    flex: 0 0 42%;
    max-width: 42%;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.cell {
    text-align: center;
}

legend {
    padding: 18px 0;
    font-size: 20px;
}

.legend {
    display: none;
    position: relative;
    transition: all 1s ease-out;
}


input.regex {
    color:  #c7e600 !important;
}

div.regex {
    font-size: 12px;
    color:  #c7e600;
    position: absolute;
    top: -13px;
    left: 13px;
    border: 1px solid #c7e600;
    background-color: rgb(133, 153, 0, 0.3);
    padding: 2px 4px;
}

legend span {
    cursor: pointer;
    color:  #c7e600;
}

legend span:hover + .legend {
    display: inline;
}

input[type="text"] {
    max-width: 90%;
    border: none;
    padding: 16px 9px;
    background-color: transparent;
    color: #859900;
    text-align: center;
    font-size: 16px;
}

.errors {
    color: #990000;
}
.errors:hover {
    cursor: pointer;
    color: #700000;
}

.deletes {
    display: inline-block;
    color: #aaa;
}

.deletes .row {
    height: 50px;
    position: relative;
}

.ecks {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 13px;
    left: 8px;
}

.ecks:hover {
    color: #990000;
}

.butts {
    display: block;
    width: 600px;
    text-align: right;
}

button {
    margin: 32px 0 48px 24px;
    padding: 8px 12px;
    cursor: pointer;
    color: #859900;
    font-size: 16px;
    background-color: #000;
    border: 2px solid #859900;
}

button:hover {
    color: #aaa;
    background-color: #859900;
}

button:disabled {
    color: #aaa;
    border: 2px dotted #aaa;
    cursor: default;
}

button:disabled:hover {
    color: #aaa;
    background-color: transparent;
}


/* ==============
       SWITCH
   ============== */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 15px 8px 14px 8px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider { background-color: #859900; }
input:focus + .slider { box-shadow: 0 0 1px #859900; }

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
